{% extends "pages/_base.html" %}
{% load static %}

{% block title %}Reset Password | Serv4U{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'accounts/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="password-reset-container">
  <div class="password-reset-card">
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="var(--secondary)" viewBox="0 0 16 16" class="password-reset-icon">
      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
    </svg>
    
    <h2>Reset Your Password</h2>
    <p>Enter your email address below, and we'll send you a link to reset your password.</p>

    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <form method="POST" class="password-reset-form">
      {% csrf_token %}
      
      <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email Address</label>
        {{ form.email }}
        {% if form.email.errors %}
          <div class="error">{{ form.email.errors }}</div>
        {% endif %}
      </div>

      <button type="submit" class="btn-primary">Send Reset Instructions</button>
    </form>

    <div class="back-to-login">
      <a href="{% url 'account_login' %}">
        <i class="fas fa-arrow-left"></i> Return to Login
      </a>
    </div>
  </div>
</div>
{% endblock %}