{% extends "pages/_base.html" %}
{% load static %}

{% block title %}Reset Email Sent | Serv4U{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'accounts/password_reset_done.css' %}">
{% endblock %}

{% block content %}
<div class="password-reset-sent-container">
  <div class="password-reset-sent-card">
    <svg class="email-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
    </svg>
    
    <h2>Password Reset Request Received</h2>
    
    <div class="message-content">
      <p>We've sent password reset instructions to your email address.</p>
      <p>If you don't see the email in your inbox within a few minutes, please check your spam folder.</p>
    </div>

    <a href="{% url 'account_login' %}" class="return-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
      Back to Login
    </a>

    <div class="additional-help">
      <p>Still having trouble? <a href="mailto:support@serv4u.com">Contact our support team</a></p>
    </div>
  </div>
</div>
{% endblock %}